/* CSS for the body element */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #0077cc; 
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    text-decoration: underline;
}


div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


img {
    max-width: 100%;
    height: auto;
}


#displayText, #smileText {
    font-size: 18px; 
}