header {
    background-color: #336699;
    color: white;
    padding: 20px; 
    text-align: center; 
    font-weight: 400; 
}
h1 {
    font-weight: 400;
}

/* navbar */
#navbar {
    overflow: hidden;
    background-color: #336699; 
    border-bottom: 15px solid #003366; 
}

#navbar a {
    float: left;
    display: block;
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

#navbar a:hover {
    background-color: #003366; 
    color: #fff; 
}


#container {
    margin-top: 2%; 
    margin-left: 5%; 
    margin-right: 5%; 
    padding: 10px;
	margin: 2% 5% 5% 5%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
	margin-bottom: 20px;
}


.card-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #336699; /* Set the background color to the same color as your header */
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white; /* Set the color to white, or another appropriate color */
    font-weight: 400; /* Set the weight to 400 */
    float: right;
    padding-right: 10px; /* Give it a right padding of 10px */
    font-style: italic; /* Set the font-style to italic */
}

footer a {
    text-decoration: none; /* Remove the underline */
    color: white; /* Set the color to white, or another appropriate color */
}

footer a:hover {
    text-decoration: underline; /* Underline the text */
}

#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333; /* Set your desired background color for table headers */
    color: white; /* Set your desired text color for table headers */
}

#movies th, #movies td {
    border: 1px solid #ddd;
    padding: 8px;
}

#movies td ul {
   padding: 5;
}

footer {
    position: fixed;
    left: 0;
}

footer .copyright {
    float: left;
}

footer .back-to-landing {
    float: right;
}

