button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#addButton {
    background-color: #28A745;
}

#deleteButton {
    background-color: #DC3545;
}

#displayButton {
    background-color: #FFC107;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3;
    transform: translateY(2px);
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

